api:
  host: "{{ api.host }}"
  port: "{{ api.port }}"
  base_url: "{{ api.base_url }}"
db:
  host: "{{ db.host }}"
  port: "{{ db.port }}"
  name: "{{ db.name }}"
  user: "{{ db.user }}"
  password: "{{ db.password }}"