api:
  host: "{{ api.host }}"
  port: "{{ api.port }}"
  base_url: "{{ api.base_url }}"
db:
  host: "{{ db.host }}"
  port: "{{ db.port }}"
  name: "{{ db.name }}"
  user: "{{ db.user }}"
  password: "{{ db.password }}"
auth:
  jwt_private_key : "{{ auth.jwt_private_key }}"
  jwt_public_key : "{{ auth.jwt_public_key }}"

  jwt_lifetime:
    mobile : "{{ auth.jwt_lifetime.mobile }}"
    refreshToken: "{{ auth.jwt_lifetime.refreshToken }}"